# Lab03 Extra Practice

In lab03, the joins turned out pretty... pretty. But depending on the type of join you're doing, things may not always be so. It's very helpful to be well-acquainted with all the types of joins.

As you learn about each join, consider referencing [this](https://www.google.com/url?sa=i&source=images&cd=&ved=2ahUKEwi8yaeBu_zlAhUzPn0KHTNuBXYQjRx6BAgBEAQ&url=https%3A%2F%2Ftheartofpostgresql.com%2Fblog%2F2019-09-sql-joins%2F&psig=AOvVaw0OVZtAz862qTM20VnJm4fw&ust=1574465446601540) nice visualization.


## Creating some data

In [ ]:
import pandas as po
import sqlite3

t1 = po.DataFrame({
    'Letter': ['a', 'b', 'c', 'd'],
    'Number': [42, 12, 6, 3]
})

t2 = po.DataFrame({
    'Letter': ['b', 'b', 'c', 'd', 'e', 'e'],
    'Special': ['!','#', '?', '$', '@', '&']
})

display(t1, t2)

## Joins

In the parts below, we will go over all types of joins between two DataFrames in Pandas. Each part consists of two questions: analyzing the arisal of NaNs, and comparing the output between joining t2 to t1, and joining t1 to t2. For the second part, I highly recommend attempting to write down the table yourself first. Use the code from part (ii) as a way to check your answer.

### a) (FULL) OUTER

"If you're merging ON the Letter column, you will keep all rows from the left table, and all rows from the right table."

In [ ]:
pd.merge(left = t1, right = t2, on = 'Letter', how = 'outer')

**(i) Take note of any NaNs. Explain how it got there.**

*Your answer here*

We see some NaNs begin to pop up. This is due to the fact that we're joining ON the 'Letter' column: We have an 'a' in Table t1, but we don't have an 'a' in t2. Similarly, we have an 'e' in Table t2, but we don't have an 'e' in Table t1.

#### (ii) Full outer join t1 to t2. Compare the output table with the table from joining t2 to t1 above.

In [2]:
pd.merge(left = t2, right = t1, on = 'Letter', how = 'outer')

NameError: name 'pd' is not defined

#



### b. (LEFT) OUTER
"If you're merging ON a column 'c', every row will be kept from the left table, and any rows in the right table matching in 'c' will be included, too."

In [ ]:
pd.merge(left = t1, right = t2, on = 'Letter', how = 'left')

#### (i) Take note of any NaNs. Explain how it got there.

*Your answer here*

#### (ii) Left outer join t1 to t2. Compare the output table with the table from joining t2 to t1 above.

In [ ]:
pd.merge(left = t2, right = t1, on = 'Letter', how = 'left')

#

### c. (RIGHT) OUTER 
"If you're merging ON a column 'c', every row will be kept from the right table, and any rows in the left table that match values in 'c' will be included, too."

In [ ]:
pd.merge(left = t1, right = t2, on = 'Letter', how = 'right')

#### (i) Take note of any NaNs. Explain how it got there.

*Your answer here*

#### (ii) Right outer join t1 to t2. Compare the output table with the table from joining t2 to t1 above.

In [ ]:
pd.merge(left = t2, right = t1, on = 'Letter', how = 'right')

#

### d. INNER
"If you're merging ON a column 'c', only rows that match values in column 'c' will be kept."

In [ ]:
pd.merge(left = t1, right = t2, on = 'Letter', how = 'inner')

#### (i) Take note of any NaNs. Explain why there are none.

*Your answer here*

#### (ii) Take note of any missing rows. Explain how they've disappeared.

*Your answer here*

In [ ]:
#pd.merge(left = t2, right = t1, on = 'Letter', how = 'inner')

#### (Small detail: "Left inner" and "right inner" function the same. Therefore, the (LEFT) or (RIGHT) is omitted in front of INNER joins.)

#### (Small detail: If a value in 'c' has duplicates in either table, CROSS JOIN will take all unique combinations.)

* Example: merging ON 'Letter', t1 only has one row with a 'b' (b, 12), but t2 has two rows with a 'b' (b, !) (b, #) 
* * So, all the unique combinations would be (b, 12, !), (b, 12, #).

#

## A Concrete Example 
As mentioned before, you are probably going to lose some information when doing joins (unless you're doing a full outer join, in which case you're probably going to have a very messy dataset).

In a sense, this is a good thing, as it a sort of "automatic filtering." Sometimes, it even makes further data manipulation (like grouping or indexing) easier!


Let's say we have a school of 5 students, Abigail, Ashwin, Kevin, Kevin, and Zach. Each have their own unique student ID.

At the end of the year, they all take a final exam. You're allowed as many repeats as you want, and you're allowed to skip it, too (you'd probably flunk out, but you can skip it if you really want).

In [ ]:
### Make some data


students = pd.DataFrame({
    'Name': ['Abigail', 'Ashwin', 'Kevin', 'Kevin', 'Zach'],
    'SID': ['10000', '10001', '10002', '10003', '10004'],
    'Year': [1, 1, 2, 4, 3]   
})


final_grades = pd.DataFrame({
    'SID': ['10000', '10000', '10000', '10001', '10003', '10003', '10004'],
    'Grades': ['B', 'C-', 'A-', 'B+', 'F', 'D+', 'A+'] 
    #Yes, some students took it twice, and some students didn't take it at all
})

display(students, final_grades)

### 1. Return a table of students (with their name and year) with their corresponding grades on the exam

In [ ]:
merged_table = pd.merge(left = students, right = final_grades, on = 'SID', how = 'inner')
merged_table

### 2. Take your merged table and look at the number of exams taken for each Year.

In [ ]:
merged_table.groupby('Year').count()['Name']

Conclusion: First-years are tryhards and second-years are degenerates.

# Congratulations! You reached the end :)